body{
    background-color:  hsla(89, 43%, 51%, 0.3);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 22, 22);
    text-align: center;
    font-size: 85px;
    background-color: fefbd8;
    stroke-opacity: 33%;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 22, 22);
    text-align: justify;
    font-size: 20px;
    background-color:fefbd8;
}
ul.d{
    list-style-type: square;
    color:rgb(48, 22, 22);
    text-align: justify;
    font-size: 20px;
}
ul.e{
    list-style-type: square;
    color:rgb(48, 22, 22);
    text-align: justify;
    font-size: 20px;
}
ul.m{
    list-style-type: square;
    color:rgb(48, 22, 22);
    text-align: justify;
    font-size: 15px;
}